---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/resume.html">Resume</a></li>
          <li><a href="/research.html">Research</a></li>
          <li><a href="/projects.html">Projects</a></li>
          <li><a href="/teaching.html">Teaching</a></li>
          <li><a href="/research-team.html">Research Team</a></li>
          <li><a href="/conferences.html">Conferences</a></li>
        </ul>
      </nav>    
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    </script>

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
